@mixin headerFooter {
    display: flex;
    justify-content: center;
    font-family: $hfFonts;
    font-size: 3rem;
    font-weight: bold;
    background-color: $hfColor;
    color: $hfTextColor;
    margin-top: 20px;
}

@mixin text-gradient($dir, $from, $to) {
    background: -webkit-linear-gradient($dir, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
