@mixin headerFooter {
    display: flex;
    justify-content: center;
    font-family: $hfFonts;
    font-size: 3rem;
    font-weight: bold;
    background-color: $hfColor;
    color: $hfTextColor;
    margin-top: 20px;
}

// =====FLEXBOX======
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

//=====TEXTE DEGRADE=====
@mixin text-gradient($dir, $from, $to) {
    background: -webkit-linear-gradient($dir, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//=====BREAKPOINTS=====

@mixin breakpoint-phone {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin breakpoint-tablet-port {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin breakpoint-tablet-land {
    @media (max-width: 1200px) {
        @content;
    }
}
