@import "./_fonts.scss";

/*/=============== DEBUT GENERALITES ===================/*/

main {
    width: 100%;

    @include flexCenter;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: 'Segoe Print', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

.centerow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe Print', sans-serif;
    font-size: 0.9rem;

    h3 {
        font-family: 'Segoe Print', sans-serif;
        font-size: 1.1rem;
    }
}

/* .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.max-width-100 {
    width: 100%;
}

.text-center {
    text-align: center;

    img {
        width: 60px;
        height: 60px;
    }
}

.margin-top-5 {
    margin-top: 3rem;
}

.margin-bottom-5 {
    margin-bottom: 3rem;
}

.pardding-top-3 {
    padding-top: 3rem;
}

.flex {
    display: flex;
}

.flex-item {
    justify-content: space-between;
    padding: 0.5rem;
}

.flex-just-center-C {
    justify-content: center;
}

.bold-price {
    font-weight: 700;
}

.flexPath div:nth-child(1) {
    width: 33%;
}

.flexPath div:nth-child(2) {
    width: 33%;

    @include breakpoint-phone {
        width: 100%;
    }
}

.flexPath div:nth-child(3) {
    width: 33%;
}

.wrapper {
    width: 60%;

    @include breakpoint-phone {
        width: 100%;
        margin: 1rem;
    }


    @include breakpoint-tablet-port {
        width: 100%;
        margin: 1rem;
    }


    @include breakpoint-tablet-land {
        width: 100%;
        margin: 1.5rem;
    }
}

.carte-menu {
    @include breakpoint-phone {
        width: 100%;
        font-size: 0.8rem;
        margin: 0 auto;
    }


    width: 80%;
    margin: 2.5rem auto;
}

/*--------------------Effet souligné hover sur les H3-------------------*/
.h3-souligne {
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:before {
        content: '';
        display: block;
        height: 3px;
        width: 0;
        transition: width 0s ease, background-color .5s ease;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &:after {
        content: '';
        display: block;
        height: 3px;
        width: 0;
        transition: width .5s ease;

        @include gradient(rgb(7, 85, 59), #d6e4de, horizontal);

        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:hover:before {
        width: 100%;
        transition: width .5s ease;

        @include gradient(rgb(189, 162, 8), #f0e00a, horizontal);
    }

    &:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease;
    }
}

/*--------------------Fin Effet souligné hover sur les H3-------------------*/

/*/=============== FIN GENERALITES ===================/*/

/*/========= DEBUT STYLES PAGE NOTE ENCHANTEE ========/*/

.menunote {
    @extend .bg-box1;

    .h3-note {
        font-family: 'Segoe Print', sans-serif;
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
    }
}

.h3-note-title {
    text-align: center;
}
.same-margin {
    width: 80%;
    margin: 2.5rem auto;

    @include breakpoint-phone {
        width: 100%;
    }
}

.note-article {
    width: 100%;
    margin: 0;
}

.note-title {
    @extend .note;

    font-size: 2.5rem;
}

.flotte-note {
    @extend .note;

    font-size: 1.5rem;
    margin-left: 1rem;
}

.flotte-img {
    img {
        height: 40px;
        width: 40px;
    }
}

/*---------------------Styles pour les flèches-------------------------*/

.left-note {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @include gradient(#3d171d, rgb(88, 71, 39), horizontal);

    clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
}

.right-note {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @include gradient(rgb(88, 71, 39), #3d171d, horizontal);

    clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
}

/*--------------------------- Fin Styles pour les flèches--------------------*/

/*/==================== FIN STYLES PAGE NOTE ENCHANTEE =======================/*/

/*/================= DEBUT STYLES PAGE CHIC A LA FRANCAISE ===================/*/

.menuchic {
    @extend .bg-box2;

    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.9rem;

    h3 {
        font-family: 'Roboto Slab', sans-serif;
    }
}

.chic-title {
    font-size: 1.5rem;

    @extend .chic;
}

.h3-chic-title {
    text-align: center;
}

/*-----------------Styles pour les textes en dégradé---------------------*/
#orange-gradient [class*="col"] {
    @extend .mise-en-appetit;
}

#purple-gradient [class*="col"] {
    @extend .plaisir;
}

.mise-en-appetit {
    @include text-gradient(right, rgb(202, 138, 95), rgb(192, 130, 16));
}

.plaisir {
    @include text-gradient(right, rgb(182, 151, 189), rgb(235, 119, 227));
}

.gourmandises {
    @include text-gradient(right, rgb(185, 147, 190), rgb(81, 79, 190));
}

.h3-appetit {
    @extend .mise-en-appetit;
}

.h3-plaisir {
    @extend .plaisir;
}

.h3-gourmandises {
    @extend .gourmandises;
}

/*-----------------Fin Styles pour les textes en dégradé---------------------*/

/*-------------------------Styles pour les flèches---------------------------*/

.left-appetit {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @include gradient(maroon, orange, horizontal);

    clip-path: polygon(86% 24%, 100% 40%, 88% 59%, 0 43%);
}

.right-appetit {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @include gradient(orange, maroon, horizontal);

    clip-path: polygon(9% 23%, 100% 39%, 9% 55%, 0% 38%);
}

.left-plaisir {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @extend .left-appetit;

    @include gradient(rgb(88, 88, 177), rgb(231, 31, 218), horizontal);
}

.right-plaisir {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @extend .right-appetit;

    @include gradient(rgb(231, 31, 218), rgb(88, 88, 177), horizontal);
}

.left-gourmandises {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @extend .left-appetit;

    @include gradient(rgb(185, 147, 190), rgb(16, 14, 143), horizontal);
}

.right-gourmandises {
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }


    @extend .right-appetit;

    @include gradient(rgb(16, 14, 143), rgb(185, 147, 190), horizontal);
}

/*-----------------------Fin Styles pour les flèches---------------------------*/
/*/============== FIN STYLES PAGE CHIC A LA FRANCAISE ==========================/*/

/*/====================== DEBUT STYLES PAGE DELICE DES PAPILLES ================/*/

.menudelice {
    @extend .bg-box3;
}

.papilles-title {
    @extend .delice;

    font-size: 2.5rem;
}
.h3-delice-title {
    text-align: center;
}

/*------------------Styles pour les flèches------------------*/

.left-commencer {
    @include gradient(blue, rgb(18, 45, 199), horizontal);

    clip-path: polygon(94% 50%, 97% 62%, 3% 62%, 1% 37%, 11% 50%);

    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.right-commencer {
    @extend .left-commencer;

    clip-path: polygon(100% 32%, 97% 62%, 3% 62%, 6% 48%, 87% 48%);

    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.left-continuer {
    @extend .left-commencer;

    @include gradient(rgb(13, 156, 223), rgb(22, 37, 241), horizontal);
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.right-continuer {
    @extend .right-commencer;

    @include gradient(rgb(22, 37, 241), rgb(13, 156, 223), horizontal);
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.left-terminer {
    @extend .left-commencer;

    @include gradient(rgb(13, 156, 223), rgb(184, 212, 235), horizontal);
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.right-terminer {
    @extend .right-commencer;

    @include gradient(rgb(184, 212, 235), rgb(13, 156, 223), horizontal);
    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

/*--------------------Fin Styles pour les flèches---------------------*/
/*/======================FIN STYLES PAGE DELICE DES PAPILLES ================/*/

/*/==================DEBUT STYLES PAGE PALETTE DU GOUT========================/*/

.menupalette {
    @extend .bg-box4;
}

.palette-title {
    @extend .palette;

    font-size: 2.5rem;
}
.h3-palette-title {
    text-align: center;
}

/*--------------------------Styles pour les flèches----------------------------*/

.left-esquisse {
    @include gradient(rgb(4, 119, 23), rgb(174, 243, 190), horizontal);

    clip-path: polygon(0 38%, 19% 45%, 41% 42%, 63% 44%, 83% 39%, 100% 41%, 100% 59%, 78% 52%, 66% 60%, 44% 59%, 21% 56%, 0 60%);

    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.right-esquisse {
    @include gradient(rgb(174, 243, 190), rgb(4, 119, 23), horizontal);

    clip-path: polygon(70% 51%, 36% 57%, 0 43%, 0 63%, 34% 73%, 80% 63%, 100% 72%, 100% 44%);

    @include breakpoint-phone {
        clip-path: none;
        background: none;
    }
}

.left-oeuvre {
    @extend .left-esquisse;
}

.right-oeuvre {
    @extend .right-esquisse;
}

.left-sommet {
    @extend .left-esquisse;
}

.right-sommet {
    @extend .right-esquisse;
}

/*------------------------Fin Styles pour les flèches-----------------------*/

/*/==================FIN STYLES PAGE PALETTE DU GOUT========================/*/
