@import "./_fonts.scss";

//======STYLES PAGE NOTE ENCHANTEE======

main {
    width: 100%;

    @include flexCenter;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: 'Segoe Print', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

table {
    font-family: 'Segoe Print', sans-serif;
    font-size: 0.8rem;
    margin-bottom: 50px;

    thead {
        div {
            text-align: center;
        }
    }

    td {
        padding: 5px 70px 5px 70px;
        text-align: justify;
    }

    td:last-child {
        font-weight: bold;
        font-size: 1rem;
    }
}

.mouv-final {
    td {
        padding: 5px 60px 5px 0;
    }
}

.menu-note {
    width: 60%;
    height: 140vh;
    box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
    flex-flow: column wrap;
    text-align: center;

    @include flexCenter;

    @extend .bg-box1;
}

.line {
    margin: 30px;
    height: 3px;
    width: 75%;
    background-color: #3d171d;
    border: 2px solid;
    box-shadow: 0 0 10px rgba(83, 35, 2, 0.8);

    @include flexCenter;
}

.texte-line {
    background-color: #FCDFDB;
    padding: 0 50px 0 50px;
}

.flotte-note {
    @include flexCenter;
}

//======STYLES PAGE CHIC A LA FRANCAISE======
.centerow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 0.9rem;

    h3 {
        font-family: 'Roboto Slab', sans-serif;
        font-size: 1.1rem;
    }
}

.menuchic {
    width: 60%;

    @extend .bg-box2;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
}

.chic-title {
    font-size: 1.5rem;

    @extend .chic;
}

//-----Styles pour les textes en dégradé-----
.mise-en-appetit {
    @include text-gradient(right, blue, orange);
}

.plaisir {
    @include text-gradient(right, rgb(88, 88, 177), rgb(231, 31, 218));
}

.gourmandises {
    @include text-gradient(right, rgb(185, 147, 190), rgb(16, 14, 143));
}

.h3-appetit {
    @extend .mise-en-appetit;
}

.h3-plaisir {
    @extend .plaisir;
}

.h3-gourmandises {
    @extend .gourmandises;
}

//-----Styles pour les flèches-----

.left-appetit {
    @include gradient(blue, orange, horizontal);

    clip-path: polygon(86% 24%, 100% 40%, 88% 59%, 0 43%);
}

.right-appetit {
    @include gradient(orange, blue, horizontal);

    clip-path: polygon(9% 23%, 100% 39%, 9% 55%, 0% 38%);
}

.left-plaisir {
    @extend .left-appetit;

    @include gradient(rgb(88, 88, 177), rgb(231, 31, 218), horizontal);
}

.right-plaisir {
    @extend .right-appetit;

    @include gradient(rgb(231, 31, 218), rgb(88, 88, 177), horizontal);
}

.left-gourmandises {
    @extend .left-appetit;

    @include gradient(rgb(185, 147, 190), rgb(16, 14, 143), horizontal);
}

.right-gourmandises {
    @extend .right-appetit;

    @include gradient(rgb(16, 14, 143), rgb(185, 147, 190), horizontal);
}

//======STYLES PAGE DELICE DES PAPILLES======
.row-papilles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe Print', sans-serif;
    font-size: 0.9rem;

    h3 {
        font-family: 'Segoe Print', sans-serif;
        font-size: 1.1rem;
    }
}

.menudelice {
    width: 60%;

    @extend .bg-box3;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
}

.papilles-title {
    @extend .delice;

    font-size: 2.5rem;
}

//-----Styles pour les flèches-----

.left-commencer {
    @include gradient(blue, rgb(18, 45, 199), horizontal);

    clip-path: polygon(94% 50%, 97% 62%, 3% 62%, 1% 37%, 11% 50%);
}

.right-commencer {
    @extend .left-commencer;

    clip-path: polygon(100% 32%, 97% 62%, 3% 62%, 6% 48%, 87% 48%);
}

.left-continuer {
    @extend .left-commencer;

    @include gradient(rgb(13, 156, 223), rgb(22, 37, 241), horizontal);
}

.right-continuer {
    @extend .right-commencer;

    @include gradient(rgb(22, 37, 241), rgb(13, 156, 223), horizontal);
}

.left-terminer {
    @extend .left-commencer;

    @include gradient(rgb(13, 156, 223), rgb(184, 212, 235), horizontal);
}

.right-terminer {
    @extend .right-commencer;

    @include gradient(rgb(184, 212, 235), rgb(13, 156, 223), horizontal);
}

//======STYLES PAGE PALETTE DU GOUT======
.row-palette {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe Print', sans-serif;
    font-size: 0.9rem;

    h3 {
        font-family: 'Segoe Print', sans-serif;
        font-size: 1.1rem;
    }
}

.menupalette {
    width: 60%;

    @extend .bg-box4;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
}

.palette-title {
    @extend .palette;

    font-size: 2.5rem;
}

//-----Styles pour les flèches-----

.left-esquisse {
    @include gradient(rgb(4, 119, 23), rgb(174, 243, 190), horizontal);

    clip-path: polygon(0 38%, 19% 45%, 41% 42%, 63% 44%, 83% 39%, 100% 41%, 100% 59%, 78% 52%, 66% 60%, 44% 59%, 21% 56%, 0 60%);
}

.right-esquisse {
    @include gradient(rgb(174, 243, 190), rgb(4, 119, 23), horizontal);

    clip-path: polygon(70% 51%, 36% 57%, 0 43%, 0 63%, 34% 73%, 80% 63%, 100% 72%, 100% 44%);
}

.left-oeuvre {
    @extend .left-esquisse;
}

.right-oeuvre {
    @extend .right-esquisse;
}

.left-sommet {
    @extend .left-esquisse;
}

.right-sommet {
    @extend .right-esquisse;
}
