@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/header";
@import "./partials/nav";
@import "./partials/footer";
@import "./partials/mixins";
@import "./partials/keyframes";

body {
    font: 100%;
}

.next {
    display: flex;
    border: 1px solid;
    background-color: $hfColor;
    border-radius: 10px;
    color: $hfTextColor;
    width: 30%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    padding: 3px;
        
        p {
            position: relative;
            margin-top: 0.6em;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            animation: typewriter 4s steps(44) infinite normal both, blinkTextCursor 500ms steps(44) infinite normal;
        }
}
