@import url("https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kalam|Kaushan+Script|Schoolbell&display=swap");
header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open sans", "sans-serif";
  font-size: 3rem;
  font-weight: bold;
  background-color: #579C87;
  color: #FDCB46;
  margin-top: 20px;
}

header h1, footer h1 {
  font-family: "Open sans", "sans-serif";
  font-weight: bold;
  font-size: 3rem;
}

@media (max-width: 600px) {
  header, footer {
    margin-top: 0;
  }
}

.navPad {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 10px;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

a:hover {
  text-decoration: none;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  width: 30%;
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
          box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
  text-align: center;
}

@media (max-width: 600px) {
  .box {
    width: 70%;
  }
}

.box:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bg-box1, .menu-note {
  background-color: #FCDFDB;
}

.bg-box2 {
  background-color: #FFF5FE;
}

.bg-box3 {
  background-color: #F9F9F9;
}

.bg-box4 {
  background-color: #FDFFFD;
}

.note {
  font-family: 'Devonshire', cursive, sans-serif;
  font-size: 1.5rem;
  color: #492026;
}

.menu1 {
  font-family: 'Kalam', cursive, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #492026;
}

.chic {
  font-family: 'Croissant one', cursive, sans-serif;
  font-size: 1rem;
  background: -webkit-linear-gradient(right, blue, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #C77412;
}

.delice {
  font-family: 'Dancing Script', cursive, sans-serif;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(right, #2e8baa, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 {
  font-family: 'Schoolbell', cursive, sans-serif;
  font-size: 2em;
  background: -webkit-linear-gradient(right, #44b9e0, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette {
  font-family: 'Kaushan Script', cursive, sans-serif;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(right, #6ceead, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 {
  font-family: 'Schoolbell', cursive, sans-serif;
  font-size: 2rem;
  background: -webkit-linear-gradient(right, #6ceead, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  font-size: 1rem;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
}

footer .push {
  margin-right: auto;
}

footer a {
  color: #FDCB46;
  text-decoration: none;
  font-weight: normal;
}

@media (max-width: 600px) {
  footer {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-family: 'Segoe Print', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

table {
  font-family: 'Segoe Print', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 50px;
}

table thead div {
  text-align: center;
}

table td {
  padding: 5px 70px 5px 70px;
  text-align: justify;
}

.mouv-final td {
  padding: 5px 60px 5px 0;
}

.menu-note {
  width: 60%;
  height: 140vh;
  -webkit-box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
          box-shadow: 0 0 10px rgba(202, 81, 196, 0.4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  margin: 30px;
  height: 3px;
  width: 75%;
  background-color: #3d171d;
  border: 2px solid;
  -webkit-box-shadow: 0 0 10px rgba(83, 35, 2, 0.8);
          box-shadow: 0 0 10px rgba(83, 35, 2, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texte-line {
  background-color: #FCDFDB;
  padding: 0 50px 0 50px;
}

.flotte-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  background-color: #579C87;
  border-radius: 10px;
  color: #FDCB46;
  width: 30%;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
}

@media (max-width: 600px) {
  .next {
    width: 50%;
  }
}

.next p {
  position: relative;
  margin-top: 0.6em;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  -webkit-animation: typewriter 4s steps(44) infinite normal both, blinkTextCursor 500ms steps(44) infinite normal;
          animation: typewriter 4s steps(44) infinite normal both, blinkTextCursor 500ms steps(44) infinite normal;
}
/*# sourceMappingURL=style.css.map */